$Black: #09111C;
$Dark: #1D6246;
$Mid: #8ABF71;
$Light: #DFF8D0;
$White: #ffffff;

// General colors
$background-color: $Black;
$secondary-background-color: $Dark;
$primary-color: $White;
$secondary-color: $Mid;
$headings-color: $Light;
$separator-color: $Dark;
$box-color: rgba($Mid, 0.7);
$border-color: $White;
$shadow-color: $White;

$text-color: $primary-color;
$meta-color: $secondary-color;

$link-normal: $Light;
$link-hover: $Light;

$social-link-normal: $primary-color; 
$social-link-hover: $link-hover;
