// General colors
$background-color: #0e2233;
$primary-color: white;
$secondary-color: #4f6a82;
$headings-color: #49a7f7;
$separator-color: #173d5d;
//$box-color: rgba(79, 106, 130, 0.7);
$box-color: rgba(73, 167, 247, 0.7);

$text-color: $primary-color;
$post-meta-color: $secondary-color;

//$link-normal:#1EAEDB; 
//$link-hover: #0FA0CE;
$link-normal:#49a7f7; 
$link-hover: #49a7f7;

$social-link-normal: $primary-color; 
$social-link-hover: $link-hover;
