<ul class="social-media">
  {% if site.social.twitter %}
  <li><a title="Twitter" href="https://twitter.com/{{ site.social.twitter }}" class="twitter img-replace" target="_blank">Twitter</a></li>   
  {% endif %}
  {% if site.social.github %}
  <li><a title="GitHub" href="https://github.com/{{ site.social.github }}" class="github img-replace" target="_blank">Github</a></li>
  {% endif %} 
  {% if site.social.facebook %}
  <li><a title="Facebook" href="https://facebook.com/{{ site.social.facebook }}" class="facebook img-replace" target="_blank">Facebook</a></li>
  {% endif %}
  {% if site.social.itchio %}
  <li><a title="itch.io" href="https://{{ site.social.itchio }}.itch.io/" class="itch-io img-replace" target="_blank">itch.io</a></li> 
  {% endif %}
  {% if site.social.discord %}
  <li><a title="Discord" href="https://discord.com/channels/{{ site.social.discord }}" class="discord img-replace" target="_blank">Discord</a></li>
  {% endif %}
  {% if site.social.mastodon %}
  <li><a title="Mastodon" rel="me" href="https://{{ site.social.mastodon }}/" class="mastodon img-replace" target="_blank">Mastodon</a></li> 
  {% endif %}
  {% if site.social.linkedin %}
  <li><a title="LinkedIn" href="https://www.linkedin.com/in/{{ site.social.linkedin }}" class="linkedin img-replace" target="_blank">LinkedIn</a></li> 
  {% endif %}
</ul>
