---
# Front matter comment to ensure Jekyll properly reads file.
---
@import "partials/mixins";
@import "partials/variables";

/*----------------------------------------------------------------------------*/
/*- Primary style ------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

html, body {
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Syncopate', sans-serif;
//  font-family: 'Bungee', cursive;
}

body {
  background-color: $background-color;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $headings-color;
  text-shadow: $shadow-color 0 0 16px;
}
h1 {
  text-transform: capitalize;
  font-variant: small-caps;
}
h2, h3, h4, h5, h6 {
  text-transform: lowercase;
  font-variant: small-caps;
  font-style: italic;
}

a {
  color: $link-normal;
}
a:hover {
  color: $link-hover;
}
a h1, a h2, a h3, a h4, a h5, a h6 {
  text-shadow: $shadow-color 0 0 16px;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  &:hover, &:active, &:focus {
    @include transition(border-bottom-color .2s);
    border-bottom-color: inherit;
  }

}

hr {
  border-top: 2px dashed $separator-color
}

pre {
  background-color: transparent;
  border: none;
}
pre > code {
  font-family: 'Source Code Pro', monospace;
  border-radius: 0.5rem; // 1rem is nice, but exaggerated. :)
}
code {
  font-family: 'Source Code Pro', monospace;
  background-color: lighten($background-color, 5.0);
  border: 1px solid lighten($separator-color, 5.0);
  border-radius: 0.5rem;
}

/*----------------------------------------------------------------------------*/
/*- Header -------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

header.main-header {
  margin: 2rem 0; // should use margin for spacing!
  h1, h2, h3, h4, h5, h6,
  p {
    color: $secondary-primary-color;
    text-align: center;
    color: inherit;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }
  p {
    font-style: italic;
  }
  ul {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 0;
    li {
      display: inline-block;
      /* You can also add some margins here to make it look prettier */
      zoom:1;
      *display:inline;
      a {
        display:inline-block;
        border-bottom: 2px transparent solid;
        &:hover, &:focus, &:active {
          border-bottom-color: inherit;
        }
      }
    }
  }
  .logo {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 256px;
    height: auto;
  }
  .description {
    text-align: center;
    margin-bottom: 0;
  }
}

/*----------------------------------------------------------------------------*/
/*- Footer -------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

footer.main-footer {
  margin: 2rem 0;
  h1, h2, h3, h4, h5, h6,
  p {
    color: $secondary-primary-color;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .logo {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 128px;
    height: auto;
  }
  ul.social-media {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 0;
    li {
      padding: 0;
      margin: 0;
      display: inline-block;
      /* You can also add some margins here to make it look prettier */
      zoom:1;
      *display:inline;
    }
    li > a {
      padding: 0;
      margin: 0;
      border: 0; // Disable border
      width: 32px;
      height: 32px;
      background: $social-link-normal;
      background-image: url("images/socials-icons.svg");
      background-size: 224px 64px;
      border-radius: 0.25em;
      @include transition(background-color 0.2s);
      &:hover {
        background-color: $social-link-hover;
      }
    }

  li a.twitter {
    background-position: 0 0;
      &:hover {
        background-position: 0 -32px;
    }
  }

  li a.github {
    background-position: -32px 0;
    &:hover {
      background-position: -32px -32px;
    }
  }

  li a.facebook {
    background-position: -64px 0;
    &:hover {
      background-position: -64px -32px;
    }
  }

  li a.itch-io {
    background-position: -96px 0;
    &:hover {
      background-position: -96px -32px;
    }
  }

  li a.google {
    background-position: -128px 0;
    &:hover {
      background-position: -128px -32px;
    }
  }

  li a.linkedin {
      background-position: -192px 0;
      &:hover {
        background-position: -192px -32px;
      }
    }
  }
}

.no-svg footer ul.social-media li a {
  border: 0;
  width: 32px;
  height: 32px;
  background: $social-link-normal;
  background-image: url("images/socials-icons.png");
  background-size: 224px 64px;
  border-radius: 0.25em;
  @include transition(background-color 0.2s);
  &:hover {
    background-color: $social-link-hover;
  }
}

.post, .page {
  img {
    display: block;
    max-width: 100%;
    margin: 3rem auto 3rem auto;
    line-height: 0;
    border: 4px solid $border-color;
    border-radius: 2px;
    box-shadow: 0 0 4rem 0 $box-color;
  }
}

.post-footer,
.page-footer {
  padding: 2rem 0;
  text-transform: uppercase;
  font-weight: bold;
  .align-center {
    text-align: center;
  }
}

.small-padding {
  padding: 1em 0;
}

.normal-padding {
  padding: 2em 0;
}

.big-padding {
  padding: 4em 0;
}

ul.menu {
  padding: 0px;
  li {
    line-height: 1.6;
    display: inline;
    padding-right: 10px;
  }
}

/*----------------------------------------------------------------------------*/
/*- Front Page ---------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.front-page {
  h1, h2, h3, h4, h5, h6,
  p {
    text-align: center;
  }
  .post-entry {
//    margin-bottom: 2rem;
    h1, h2, h3, h4, h5, h6,
    p {
      padding: 0;
      margin: 0;
    }
    p {
      color: $meta-color;
    }
    hr {
      border: none;
    }
  }
  .post-archive {
    li {
      font-variant: small-caps;
    }
  }
}

.page {
  .page-meta {
    h1 {
      border-left: 0.75rem solid $secondary-color;
      padding-left: 1.5rem;
    }
    p {
      color: $meta-color;
    }
  }
  .page-content {
    h1 {
      border-bottom: 0.25rem solid $headings-color;
    }
    ol, ul {
      padding-left: 2em;
    }
    ol {
      list-style: decimal outside none;
    }
    ul {
      list-style: circle outside none;
    }
    blockquote {
      border-left: 0.5rem solid $secondary-color;
      padding: 1rem 2rem;
      font-style: italic;
    }
    blockquote p:last-child {
      margin-bottom: 0px; // Don't insert margin in the last paragraph.
    }
  }
}

.post {
  .post-meta {
    h1 {
      border-left: 0.75rem solid $secondary-color;
      padding-left: 1.5rem;
    }
    p {
      color: $meta-color;
    }
  }
  .post-content {
    h1 {
      border-bottom: 0.25rem solid $headings-color;
    }
    ol, ul {
      padding-left: 2em;
    }
    ol {
      list-style: decimal outside none;
    }
    ul {
      list-style: circle outside none;
    }
    blockquote {
      border-left: 0.5rem solid $secondary-color;
      padding: 1rem 2rem;
      font-style: italic;
    }
    blockquote p:last-child {
      margin-bottom: 0px; // Don't insert margin in the last paragraph.
    }
  }
}
