<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <!-- Header -->
    <header class="main-header">
      <div class="container">
        <div class="row">
          <div class="column">
            <a href="{{ site.baseurl }}/"><img src="{{ site.logo_url }}" class="logo" alt="{{ site.title }}" /></a>
            <p class="description">{{ site.description }}</p>
            {% include header-links.html %}
          </div>
        </div>
      </div>
    </header>

    <hr />

    <!-- Primary Page Layout -->
    <section class="main-section">
      {{ content }}
    </section>

    <hr />

    <!-- Footer -->
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="column">
            <a href="{{ site.baseurl }}/"><img class="logo" alt="logo" src="{{ site.logo_url }}" /></a>
            {% include social-links.html %}
            <p>{{ site.author.copyright }}</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- End Of Document -->
  </body>

</html>
