<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <!-- Header -->
    <header class="main-header">
      <div class="container">
        <div class="row">
          <img src="{{ site.logo_url }}" class="logo" alt="{{ site.title }}" />
          <h2><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
          <p class="description">{{ site.description }}</p>
          {% include header-links.html %}
        </div>
      </div>
    </header>

    <hr />

    <!-- Primary Page Layout -->
    <section class="main-section">
      {{ content }}
    </section>

    <hr />

    <!-- Footer -->
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <img class="logo" alt="logo" src="{{ site.logo_url }}" />
            <h5><a href="{{ site.baseurl }}/">{{ site.title }}</a></h5>
            {% include social-links.html %}
            <p>{{ site.author.copyright }}</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Google Analytics -->
    {% include google-analytics.html %}

    <!-- End Of Document -->
  </body>

</html>
