---
layout: default
---
<!-- page -->
<div class="container page">
  <!-- page content -->
  {% if page.hide_meta == false %}
  <div class="row page-meta">
    <h1>{{ page.title }}</h1>
    {% if page.categories.size > 0 %}
    <p>{{ page.categories | array_to_sentence_string }}</p>
    {% endif %}
  </div>
  {% endif %}
  <div class="row page-content">
    {{ content }}
  </div>
  <!-- page footer -->
  <div class="row page-footer">
    <div class="twelve columns align-center">
      <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }} ">&laquo; Back to index</a>
    </div>
  </div>
  <!-- page disqus-container -->
  {% include disqus-embed.html %}
</div>

